@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


head {
    font-family: "Patrick Hand", cursive;
}

body {
    background-color: FloralWhite;
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: "Patrick Hand", cursive;
}
