@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: HoneyDew;
    color: #222;
    padding-bottom: 50px;
    font-family: "Patrick Hand", cursive;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background-color: LightSkyBlue;
    border-color: CornflowerBlue;
    cursor: pointer;
    padding: 20px;
    font-family: "Madimi One", sans-serif;
    color: white;
    border-radius: 20px;
    margin: 10px;
}

.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3)
}

.nav.active a {
    color: black;
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: rgb(173, 216, 230);
    font-weight: bold;
}
